<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ $.Site.Title }}</title>

        {{ $style := resources.Get "css/main.css" | resources.PostCSS }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">

        {{ $built := resources.Get "js/index.js" | js.Build "main.js" }}
        <script src="{{ $built.RelPermalink }}" defer></script>
    </head>

    <body>
        {{ block "main" . }}
        <main class="container">{{ block "main-content" . }}{{ end }}</main>
        {{ end }}
    </body>
</html>